<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastModified</key>
	<date>2011-06-09T23:56:47Z</date>
	<key>restaurants</key>
	<array>
			<dict>
				<key>restaurantID</key>
				<string>1</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1650520</real>
				<key>longitude</key>
				<real>-77.6868730</real>
				<key>name</key>
				<string>Steve T. Hots and Potatoes</string>
				<key>phoneNumber</key>
				<string>429-6388</string>
				<key>plateName</key>
				<string>Hots and Potatoes</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>2260 Lyell Avenue</string>
				<key>url</key>
				<string>http://www.stevethots.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14606</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>2</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.155619</real>
				<key>longitude</key>
				<real>-77.6130095</real>
				<key>name</key>
				<string>Nick Tahou Hots</string>
				<key>phoneNumber</key>
				<string>436-0184</string>
				<key>plateName</key>
				<string>Garbage Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>20 West Main Street</string>
				<key>url</key>
				<string>http://www.garbageplate.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14608</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>3</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Victor</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>42.9861560</real>
				<key>longitude</key>
				<real>-77.4180290</real>
				<key>name</key>
				<string>Papa Jack's Grill</string>
				<key>phoneNumber</key>
				<string>924-3779</string>
				<key>plateName</key>
				<string>Garbage Platter</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>261 West Main Street</string>
				<key>url</key>
				<string>http://www.papajacksgrill.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14564</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>4</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Fairport</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1025190</real>
				<key>longitude</key>
				<real>-77.4651010</real>
				<key>name</key>
				<string>Fairport Hots</string>
				<key>phoneNumber</key>
				<string>586-4540</string>
				<key>plateName</key>
				<string>Hot Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>1226 Fairport Road</string>
				<key>url</key>
				<string>http://www.fairporthots.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14450</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>5</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Webster</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.202284</real>
				<key>longitude</key>
				<real>-77.4966620</real>
				<key>name</key>
				<string>Empire Hots</string>
				<key>phoneNumber</key>
				<string>787-2110</string>
				<key>plateName</key>
				<string>Trash Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>2209 Empire Blvd</string>
				<key>url</key>
				<string>http://www.yelp.com/biz/empire-hots-webster/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14580</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>6</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Webster</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.2121489</real>
				<key>longitude</key>
				<real>-77.4281400</real>
				<key>name</key>
				<string>Webster Hots</string>
				<key>phoneNumber</key>
				<string>265-0824</string>
				<key>plateName</key>
				<string>Trash Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>2209 Empire Blvd.</string>
				<key>url</key>
				<string>http://www.websterhots.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14580</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>7</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1304980</real>
				<key>longitude</key>
				<real>-77.478489</real>
				<key>name</key>
				<string>Penfield Hots</string>
				<key>phoneNumber</key>
				<string>586-4979</string>
				<key>plateName</key>
				<string>Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>1794 Penfield Rd.</string>
				<key>url</key>
				<string>http://www.yelp.com/biz/penfield-hots-penfield</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14526</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>8</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1468249</real>
				<key>longitude</key>
				<real>-77.594359</real>
				<key>name</key>
				<string>Big Deal Pizza</string>
				<key>phoneNumber</key>
				<string>544-2144</string>
				<key>plateName</key>
				<string>Big Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>475 Monroe Ave.</string>
				<key>url</key>
				<string>http://www.bigdealpizza.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14525</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>9</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.2311330</real>
				<key>longitude</key>
				<real>-77.626448</real>
				<key>name</key>
				<string>Charlotte Hots</string>
				<key>phoneNumber</key>
				<string>865-3250</string>
				<key>plateName</key>
				<string>Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>3345 Lake Ave.</string>
				<key>url</key>
				<string>http://www.yelp.com/biz/charlotte-hots-rochester/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14616</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>10</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1441361</real>
				<key>longitude</key>
				<real>-77.5895387</real>
				<key>name</key>
				<string>Dogtown Hots</string>
				<key>phoneNumber</key>
				<string>271-6620</string>
				<key>plateName</key>
				<string>Junkyard Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>691 Monroe Ave.</string>
				<key>url</key>
				<string>http://www.dogtownhots.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14607</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>11</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Ontario</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.2249410</real>
				<key>longitude</key>
				<real>-77.352551</real>
				<key>name</key>
				<string>Charlie Riedel's - Ontario</string>
				<key>phoneNumber</key>
				<string>265-0863</string>
				<key>plateName</key>
				<string>Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>552 State Rt. 104</string>
				<key>url</key>
				<string>http://www.charliesrestaurants.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14519</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>12</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Penfield</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1885140</real>
				<key>longitude</key>
				<real>-77.5057930</real>
				<key>name</key>
				<string>Charlie Riedel's - Penfield</string>
				<key>phoneNumber</key>
				<string>671-4320</string>
				<key>plateName</key>
				<string>Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>1843 Empire Blvd.</string>
				<key>url</key>
				<string>http://www.charliesrestaurants.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14625</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>13</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Canandaigua</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>42.94402324</real>
				<key>longitude</key>
				<real>-77.2777597</real>
				<key>name</key>
				<string>Charlie Riedel's - Canandaigua</string>
				<key>phoneNumber</key>
				<string>396-3420</string>
				<key>plateName</key>
				<string>Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>3140 Townline Rd.</string>
				<key>url</key>
				<string>http://www.charliesrestaurants.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14424</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>14</string>
				<key>areaCode</key>
				<string>315</string>
				<key>city</key>
				<string>Geneva</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>42.8718640</real>
				<key>longitude</key>
				<real>-76.9772380</real>
				<key>name</key>
				<string>Charlie Riedel's - Geneva</string>
				<key>phoneNumber</key>
				<string>787-0200</string>
				<key>plateName</key>
				<string>Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>143 Wadsworth St.</string>
				<key>url</key>
				<string>http://www.charliesrestaurants.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14456</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>15</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Victor</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.0158414</real>
				<key>longitude</key>
				<real>-77.4431255</real>
				<key>name</key>
				<string>Charlie Riedel's - Victor</string>
				<key>phoneNumber</key>
				<string>924-4310</string>
				<key>plateName</key>
				<string>Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>7457 Rt. 96</string>
				<key>url</key>
				<string>http://www.charliesrestaurants.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14564</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>16</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.2344759</real>
				<key>longitude</key>
				<real>-77.5379029</real>
				<key>name</key>
				<string>Don's Original - Seabreeze</string>
				<key>phoneNumber</key>
				<string>323-1177</string>
				<key>plateName</key>
				<string>Don's Big Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>900 Culver Rd.</string>
				<key>url</key>
				<string>http://www.donsoriginal.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14622</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>17</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Brighton</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1172210</real>
				<key>longitude</key>
				<real>-77.5553590</real>
				<key>name</key>
				<string>Don's Original - Brighton</string>
				<key>phoneNumber</key>
				<string>244-2080</string>
				<key>plateName</key>
				<string>Don's Big Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>2545 Monroe Ave.</string>
				<key>url</key>
				<string>http://www.donsoriginal.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14618</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>18</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Penfield</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1341900</real>
				<key>longitude</key>
				<real>-77.4418476</real>
				<key>name</key>
				<string>Don's Original - Penfield</string>
				<key>phoneNumber</key>
				<string>377-1040</string>
				<key>plateName</key>
				<string>Don's Big Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>2055 Rt. 250</string>
				<key>url</key>
				<string>http://www.donsoriginal.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14526</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>19</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Webster</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.2191398</real>
				<key>longitude</key>
				<real>-77.4300485</real>
				<key>name</key>
				<string>Hank's Ice Cream and R.B. Sandwiches</string>
				<key>phoneNumber</key>
				<string>872-0824</string>
				<key>plateName</key>
				<string>Hankie Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>235 Rt. 250</string>
				<key>url</key>
				<string>http://www.FrankBrothersOfWebster.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14580</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>20</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Pittsford</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.0908919</real>
				<key>longitude</key>
				<real>-77.5146180</real>
				<key>name</key>
				<string>Hungry's Grill</string>
				<key>phoneNumber</key>
				<string>385-4031</string>
				<key>plateName</key>
				<string>Hungry Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>10 State St.</string>
				<key>url</key>
				<string>http://hungrysonline.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14534</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>21</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Brighton</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.0997000</real>
				<key>longitude</key>
				<real>-77.6296020</real>
				<key>name</key>
				<string>Jay's Diner</string>
				<key>phoneNumber</key>
				<string>424-3710</string>
				<key>plateName</key>
				<string>Heartburn Special</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>2612 W. Henrietta Rd.</string>
				<key>url</key>
				<string>http://www.facebook.com/pages/Jays-Diner/43207302372/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14623</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>22</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Brockport</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.2152789</real>
				<key>longitude</key>
				<real>-77.9384292</real>
				<key>name</key>
				<string>Jimmy Z's</string>
				<key>phoneNumber</key>
				<string>637-7060</string>
				<key>plateName</key>
				<string>Five Star Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>53 Main St.</string>
				<key>url</key>
				<string>http://www.CircusInYourMouth.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14420</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>23</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>East Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1131570</real>
				<key>longitude</key>
				<real>-77.4869670</real>
				<key>name</key>
				<string>Mac's Philly Steaks - E.R.</string>
				<key>phoneNumber</key>
				<string>385-6575</string>
				<key>plateName</key>
				<string>Philly Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>144 W. Commercial St.</string>
				<key>url</key>
				<string>http://macsphillysteaks.com</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14445</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>24</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Geneva</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>42.8679879</real>
				<key>longitude</key>
				<real>-76.9818310</real>
				<key>name</key>
				<string>Mac's Philly Steaks - Geneva</string>
				<key>phoneNumber</key>
				<string>789-1101</string>
				<key>plateName</key>
				<string>Philly Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>10 Castle St.</string>
				<key>url</key>
				<string>http://macsphillysteaks.com</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14456</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>25</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Geneva</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>42.8867093</real>
				<key>longitude</key>
				<real>-77.2808714</real>
				<key>name</key>
				<string>Mac's Philly Steaks - Canandaigua</string>
				<key>phoneNumber</key>
				<string>394-7080</string>
				<key>plateName</key>
				<string>Philly Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>76 South Main St.</string>
				<key>url</key>
				<string>http://macsphillysteaks.com</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14424</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>26</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Avon</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>42.9093329</real>
				<key>longitude</key>
				<real>-77.7320610</real>
				<key>name</key>
				<string>Tom Wahl's - Avon</string>
				<key>phoneNumber</key>
				<string>226-2420</string>
				<key>plateName</key>
				<string>55 Junker Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>283 E. Main St.</string>
				<key>url</key>
				<string>http://www.TomWahls.com</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14414</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>27</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Canandaigua</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>42.9089763</real>
				<key>longitude</key>
				<real>-77.2978111</real>
				<key>name</key>
				<string>Tom Wahl's - Canandaigua</string>
				<key>phoneNumber</key>
				<string>393-9170</string>
				<key>plateName</key>
				<string>55 Junker Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>2510 Rochester Rd.</string>
				<key>url</key>
				<string>http://www.TomWahls.com</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14424</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>28</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Pittsford</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.0616947</real>
				<key>longitude</key>
				<real>-77.4770224</real>
				<key>name</key>
				<string>Tom Wahl's - Bushnell's Basin</string>
				<key>phoneNumber</key>
				<string>586-4920</string>
				<key>plateName</key>
				<string>55 Junker Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>643 Rt. 96</string>
				<key>url</key>
				<string>http://www.TomWahls.com</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14534</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>29</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Fairport</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1004210</real>
				<key>longitude</key>
				<real>-77.4609830</real>
				<key>name</key>
				<string>Tom Wahl's - Fairport</string>
				<key>phoneNumber</key>
				<string>377-8420</string>
				<key>plateName</key>
				<string>55 Junker Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>1333 Fairport Rd.</string>
				<key>url</key>
				<string>http://www.TomWahls.com</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14450</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>30</string>
				<key>areaCode</key>
				<string>315</string>
				<key>city</key>
				<string>Newark</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.0474470</real>
				<key>longitude</key>
				<real>-77.1098389</real>
				<key>name</key>
				<string>Tom Wahl's - Newark</string>
				<key>phoneNumber</key>
				<string>331-9112</string>
				<key>plateName</key>
				<string>55 Junker Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>585 West Union St.</string>
				<key>url</key>
				<string>http://www.TomWahls.com</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14513</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>31</string>
				<key>areaCode</key>
				<string>315</string>
				<key>city</key>
				<string>Waterloo</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>42.9033770</real>
				<key>longitude</key>
				<real>-76.8557960</real>
				<key>name</key>
				<string>Connie's Diner</string>
				<key>phoneNumber</key>
				<string>539-9556</string>
				<key>plateName</key>
				<string>Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>205 E. Main St.</string>
				<key>url</key>
				<string>http://www.facebook.com/pages/connies-diner-waterloony/122134457805848</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>13165</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>32</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Livonia</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>42.7777210</real>
				<key>longitude</key>
				<real>-77.7111150</real>
				<key>name</key>
				<string>Serious Foods</string>
				<key>phoneNumber</key>
				<string>346-9184</string>
				<key>plateName</key>
				<string>Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>5006 E. Lake Rd.</string>
				<key>url</key>
				<string>http://www.yelp.com/biz/serious-foods-livonia</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14487</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>33</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Geneseo</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>42.8052050</real>
				<key>longitude</key>
				<real>-77.7331875</real>
				<key>name</key>
				<string>Omega Grill</string>
				<key>phoneNumber</key>
				<string>243-4930</string>
				<key>plateName</key>
				<string>Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>4182 Lakeville Rd.</string>
				<key>url</key>
				<string>http://www.yelp.com/biz/omega-restrnt-geneseo</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14454</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>34</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.0826090</real>
				<key>longitude</key>
				<real>-77.6398990</real>
				<key>name</key>
				<string>Henrietta Hots</string>
				<key>phoneNumber</key>
				<string>424-4687</string>
				<key>plateName</key>
				<string>Bada Boom Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>3553 W. Henrietta Rd.</string>
				<key>url</key>
				<string>http://www.yelp.com/biz/henrietta-hots-rochester</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14623</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>35</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.0966530</real>
				<key>longitude</key>
				<real>-77.6327190</real>
				<key>name</key>
				<string>Schaller's - Brighton</string>
				<key>phoneNumber</key>
				<string>427-7810</string>
				<key>plateName</key>
				<string>Schaller Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>2747 W. Henrietta Rd.</string>
				<key>url</key>
				<string>http://www.yelp.com/biz/schallers-brighton-rochester</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14623</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>36</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1943520</real>
				<key>longitude</key>
				<real>-77.6029820</real>
				<key>name</key>
				<string>Schaller's - Ridge Rd.</string>
				<key>phoneNumber</key>
				<string>544-2097</string>
				<key>plateName</key>
				<string>Schaller Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>559 Ridge Rd. E.</string>
				<key>url</key>
				<string>http://www.yelp.com/biz/schallers-ridge-rd-rochester</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14621</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>37</string>
				<key>areaCode</key>
				<string>215</string>
				<key>city</key>
				<string>Philadelphia</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>39.9350642</real>
				<key>longitude</key>
				<real>-75.1516194</real>
				<key>name</key>
				<string>The Ugly American</string>
				<key>phoneNumber</key>
				<string>336-1100</string>
				<key>plateName</key>
				<string>Ugly American Garbage Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>PA</string>
				<key>street</key>
				<string>1100 South Front St.</string>
				<key>url</key>
				<string>http://uglyamericanphilly.com/latenight.html</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>19147</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>38</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Perry</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>42.6990539</real>
				<key>longitude</key>
				<real>-78.0168370</real>
				<key>name</key>
				<string>Silver Lake Drive-in</string>
				<key>phoneNumber</key>
				<string>336-1100</string>
				<key>plateName</key>
				<string>Dumpster Platter</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>7037 Chapman Ave.</string>
				<key>url</key>
				<string>http://charcoalcorral.com/w3/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14530</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>39</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1477500</real>
				<key>longitude</key>
				<real>-77.7096090</real>
				<key>name</key>
				<string>Wimpy's Burger Basket</string>
				<key>phoneNumber</key>
				<string>247-3160</string>
				<key>plateName</key>
				<string>Wimpy's Plates</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>2160 Buffalo Rd.</string>
				<key>url</key>
				<string>http://www.wimpysbb.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14624</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>40</string>
				<key>areaCode</key>
				<string>919</string>
				<key>city</key>
				<string>Raleigh</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>35.8610530</real>
				<key>longitude</key>
				<real>-78.7105970</real>
				<key>name</key>
				<string>Blinco's Sports Restaurant</string>
				<key>phoneNumber</key>
				<string>785-5060</string>
				<key>plateName</key>
				<string>Hurricane Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NC</string>
				<key>street</key>
				<string>6711 Glenwood Ave.</string>
				<key>url</key>
				<string>http://www.blincos.com/m/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>27612</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>41</string>
				<key>areaCode</key>
				<string>804</string>
				<key>city</key>
				<string>Richmond</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>37.5336695</real>
				<key>longitude</key>
				<real>-77.4282218</real>
				<key>name</key>
				<string>River City Diner - Downtown</string>
				<key>phoneNumber</key>
				<string>644-9418</string>
				<key>plateName</key>
				<string>Rochester Garbage Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>VA</string>
				<key>street</key>
				<string>7 N. 17th St.</string>
				<key>url</key>
				<string>http://www.rivercitydiner.com/locations.html</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>23219</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>42</string>
				<key>areaCode</key>
				<string>804</string>
				<key>city</key>
				<string>Richmond</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>37.6349480</real>
				<key>longitude</key>
				<real>-77.4554390</real>
				<key>name</key>
				<string>River City Diner - Northside</string>
				<key>phoneNumber</key>
				<string>266-1500</string>
				<key>plateName</key>
				<string>Rochester Garbage Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>VA</string>
				<key>street</key>
				<string>803 E. Parham Rd.</string>
				<key>url</key>
				<string>http://www.rivercitydiner.com/locations.html</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>23227</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>43</string>
				<key>areaCode</key>
				<string>804</string>
				<key>city</key>
				<string>Midlothian</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>37.6349480</real>
				<key>longitude</key>
				<real>-77.4554390</real>
				<key>name</key>
				<string>River City Diner - Southside</string>
				<key>phoneNumber</key>
				<string>897-9518</string>
				<key>plateName</key>
				<string>Rochester Garbage Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>VA</string>
				<key>street</key>
				<string>11430 W. Huguenot Rd.</string>
				<key>url</key>
				<string>http://www.rivercitydiner.com/locations.html</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>23113</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>44</string>
				<key>areaCode</key>
				<string>607</string>
				<key>city</key>
				<string>Oxford</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>42.4411902</real>
				<key>longitude</key>
				<real>-75.5958130</real>
				<key>name</key>
				<string>The Stadium Sports Bar and Grill</string>
				<key>phoneNumber</key>
				<string>843-5255</string>
				<key>plateName</key>
				<string>Home Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>1 Main St.</string>
				<key>url</key>
				<string>http://www.thestadium.biz/Contact.html</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>13830</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>45</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1701966</real>
				<key>longitude</key>
				<real>-77.5604330</real>
				<key>name</key>
				<string>James Brown's Place</string>
				<key>phoneNumber</key>
				<string>288-4250</string>
				<key>plateName</key>
				<string>Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>1356 Culver Rd.</string>
				<key>url</key>
				<string>http://www.jamesbrownsplace.net</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14609</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>46</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1573010</real>
				<key>longitude</key>
				<real>-77.6017023</real>
				<key>name</key>
				<string>Ludwig's Center Stage Cafe</string>
				<key>phoneNumber</key>
				<string>454-4440</string>
				<key>plateName</key>
				<string>Ludwig Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>25 Gibbs St.</string>
				<key>url</key>
				<string>http://www.ludwigscenterstagecafe.com/index.html</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14604</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>47</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1536492</real>
				<key>longitude</key>
				<real>-77.5056291</real>
				<key>name</key>
				<string>Browncroft Family Restaurant</string>
				<key>phoneNumber</key>
				<string>248-2960</string>
				<key>plateName</key>
				<string>Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>2501 Browncroft Blvd.</string>
				<key>url</key>
				<string>http://browncroftrestaurant.samsbiz.com/</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14625</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>48</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.2237205</real>
				<key>longitude</key>
				<real>-77.6629650</real>
				<key>name</key>
				<string>Greece Hots</string>
				<key>phoneNumber</key>
				<string>663-5720</string>
				<key>plateName</key>
				<string>Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>745 Maiden Ln.</string>
				<key>url</key>
				<string>http://rocwiki.org/Greece_Hots</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14615</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>49</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Greece</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.2101632</real>
				<key>longitude</key>
				<real>-77.6974060</real>
				<key>name</key>
				<string>Pino's Deli</string>
				<key>phoneNumber</key>
				<string>227-8160</string>
				<key>plateName</key>
				<string>Garbage Platter</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>2590 W. Ridge Rd.</string>
				<key>url</key>
				<string>http://www.PinosDeli.com</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14626</string>
			</dict>
			<dict>
				<key>restaurantID</key>
				<string>50</string>
				<key>areaCode</key>
				<string>585</string>
				<key>city</key>
				<string>Rochester</string>
				<key>country</key>
				<string>USA</string>
				<key>countryCode</key>
				<string>us</string>
				<key>favorite</key>
				<false/>
				<key>lastUpdate</key>
				<date>2010-09-27T00:08:42Z</date>
				<key>latitude</key>
				<real>43.1881903</real>
				<key>longitude</key>
				<real>-77.5609760</real>
				<key>name</key>
				<string>Culver Hots</string>
				<key>phoneNumber</key>
				<string>342-4687</string>
				<key>plateName</key>
				<string>Sloppy Plate</string>
				<key>rating</key>
				<real>3</real>
				<key>state</key>
				<string>NY</string>
				<key>street</key>
				<string>2286 Culver Rd.</string>
				<key>url</key>
				<string>http://rocwiki.org/Culver_Hots</string>
				<key>url2</key>
				<string>NONE</string>
				<key>zip</key>
				<string>14609</string>
			</dict>
	</array>
</dict>
</plist>			 